[Desktop Entry]
Encoding=UTF-8
Name=Lightpaycoin
Comment=Lightpaycoin P2P Cryptocurrency
Exec=lightpaycoin-qt %u
Terminal=false
Type=Application
Icon=lightpaycoin128
MimeType=x-scheme-handler/lightpaycoin;
Categories=Office;Finance;
Name[en_US]=baisyccoin-qt.desktop
